
/* weblap altalanos tul beall-a*/
body {
	font-family: Verdana, Arial, sans-serif;
	color:#4c1f22; /*szin*/
	font-size:10pt;
	margin:0px;
	padding:25px;
	/*hatter*/
	background: red url(../img/back2.webp);
	background-attachment: fixed;
	background-size: cover;
}
*{box-sizing: border-box;}

#tartalmazo {
	box-shadow: 0px 0px 38px 0px rgb(112, 139, 167);
	/*kozepre, 60% szeles es szin*/
	margin: auto;
	width: 60%;
	padding:0px;
	background-color: rgba(10, 110, 95, 0.7);
}
 /*weblap szerkezetnek kialak-sa*/
 
header {
	width:100%;
	height:220px; /*A felhasznalt fejleckephez igazodik*/
	/*hatterkep szethuzva: cover*/
	margin:0px;
	padding:0px;
	background: rgb(58, 96, 121) url(../img/head.jpg);
	background-size: cover;
}
header h1 {
	font-family:"Viner Hand ITC", "Comic Sans Ms", Garamond, serif ;
	font-size:15px;
	/*balra a betuk, szethuzva, feherrel, fix helyre...*/
	color: aliceblue;
	text-align: left;
	letter-spacing: 15px;
	padding-top: 190px;
	padding-left: 10px;

}
nav {
	/*balra, 250px szeles*/
	float: left;
	width: 250px;
	margin:0px;
	padding:0px;
	background-color:rgba(10, 110, 95,0.2);
}


main{
	margin:0px;
	padding:20px;
	/*bal margo: 250px*/
	margin-left: 250px;
	background-color:rgba(255, 255, 255,0.7);	
}

footer {
	clear:both;
	margin:0px;
	padding:2px;
	background-color:rgba(10, 110, 95,0.8);
 	
}
footer p{
	/*kozepre igazitas*/
	font-size:10px;
	color:whitesmoke;
	clear: both;
	text-align: center;

}


/*menu form-sa*/
 
nav a {
    /*nem kell alahuzas*/
	text-decoration: none;
    color: white;
	display: block; /*Ha ezt megadom, akkor a linkek szelessege egyenletes lesz*/
    width: 100%; 
	margin:0;
    /*also csik, padding*/
	padding: 5px 5px 5px 40px;
}

nav ul {
    /*nincs a lista elott potty*/
    margin: 5px;
    padding: 0;
	list-style-type: none;
}

nav a:hover {
    /*lepke ha fele megyek; ezert kellett a menu a eseten a 20px padding. */
	background: rgba(135, 187, 178, 0.5) url(../img/pill1.png) no-repeat;
	border-bottom:1px solid rgba(10, 110, 95,0.3); 
	color: white;
}

